# Base de datos PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=123456789
DB_DATABASE=pufa_db

# Alternativa: usa una sola URL si ya tienes PostgreSQL externo
# DATABASE_URL=postgresql://usuario:clave@host:5432/base_de_datos

# JWT
JWT_SECRET=tu_secreto_jwt_muy_seguro_aqui
JWT_EXPIRATION=1d

# Aplicación
APP_PORT=3000
APP_ENV=development
API_PREFIX=api/v1

# Archivos
MAX_FILE_SIZE_MB=10
UPLOAD_DEST=./uploads

# Abono
PORCENTAJE_ABONO_DEFAULT=30

# Tiempo de aprobación (días hábiles)
DIAS_HABILES_MIN=5
DIAS_HABILES_MAX=15

# Notificaciones por correo (opcional)
SMTP_HOST=smtp.gmail.com
#el puerto puede cambiar en funcion del proveedor de correo, para Gmail es 587 para TLS y 465 para SSL
SMTP_PORT=587
SMTP_SECURE=false
#correo desde donde salen los correos, debe ser un correo válido y configurado para enviar correos desde aplicaciones externas
#cambiar correo por el institucional
SMTP_USER=dacher08@gmail.com
#contraseña del correo desde donde salen los correos, debe ser la contraseña de la aplicación o la contraseña normal si el correo no tiene autenticación de dos factores
SMTP_PASS=teypkyaajfsmxfxu
SMTP_FROM="PUFAB <no-reply@pufab.gov.co>"
SMTP_ADMIN_TO=dacher08@gmail.com